body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
}

img {
    width: 375px;
    height: auto;
}

h1 {
    text-align: center;
}

#smash-burger {
    color: aqua;
}

#chipotle-chicken {
    color: greenyellow;
}

#lasagna {
    color: dodgerblue;
}

.subtitles {
    color: red;
}

.description .subtitles {
    color: greenyellow;
}

.description {
    background-color: #353535;
}

#homepage {
    color: black;
    background-color: lightcyan;
}

.recipe-link {
    text-align: center;
    list-style-type: none;
    font-size: large;
}