body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
    padding: 16px 8em;
}

img {
    width: auto;
    height: 375px;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

p {
    padding: 16px;
}

li {
    margin: 6px;
}

#smash-burger {
    color: aqua;
}

#chipotle-chicken {
    color: greenyellow;
}

#lasagna {
    color: dodgerblue;
}

.subtitles {
    color: red;
}

.description .subtitles {
    color: greenyellow;
}

.description {
    border: 2px solid white;
    padding: 16px;
    margin: 1em;
}

.description p {
    padding: 0px;
}

#homepage {
    color: black;
    background-color: lightcyan;
}

.recipe-link {
    text-align: center;
    list-style-type: none;
    font-size: large;
    margin: 8px;
}